*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
body{
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

a{
    text-decoration: none;
}
nav{
    a:hover{
        color: black !important;
    }
}
a:hover{
    box-shadow: 4px 1px 10px white;
}
header{
    border-bottom: 2px solid black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

nav .container-fluid .collapse ul {
    float: right;
}
.navbar-brand img{
    border-radius: 100%;
    background-color: aqua;
}

nav .container-fluid .collapse ul a{
    font-size: 1.2rem;
    margin-left: 50px;
}
.back-parent{
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fluid-img{
    height: 35vw;
}



.text{
    position: absolute;
    height: 15vw;
    color: black;
    left: 20vw;
}
.underline{
    border-bottom: 1px solid black;
    /* margin-bottom: 15px; */
    margin-bottom: 0.1vw;
    font-size: 1.8vw;
}
.circle{
    background-color: black;
    color: white;
    border-radius: 50%;
    height: 7vw;
    width: 7vw;
    font-size: 1.7vw;
}
.circle:window-inactive{
    animation: rainbow 1s linear 0s infinite ;
}
@keyframes rainbow {
    from{
        background-color: black;
    }
    to{
        background-color: blue;
    }
}
.p{
    position: absolute;
    display: flex;
    top:2.1vw;
    padding-left: 0.8vw;
    
}
i{
    font-size: 1.6vw;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
}
.o{
    color: orangered;
}


main{
    margin-top: 20px;
    p{
        font-size: 1.2rem;
    }
}
.heading{
    text-align: center;
    border-bottom: 1px solid red;
}



.card-3{
    margin-top: 10px;
    height: 300px;
    display: flex;
    justify-content: space-around;
}
.card-2{
    margin-top: 10px;
    height: 300px;
    display: flex;
    justify-content: space-around;
}
.card-3-1,.card-3-2,.card-3-3{
    img{
        height: 250px;
        width: 250px;
        border: 1px solid red;
    }
}


.b{
    font-weight: 600;
    font-size: 1.5rem;
}
.card-2-1,.card-2-2{
    img{
        height: 250px;
        width: 250px;
        border: 1px solid red;
    }
}

/*  */
.about-us{
    margin-top: 20px;
    text-align: center;
    font-size: 1rem;
    p{
        margin-top: 2rem;
        font-size: 1.2rem;
    }
}
.contactus{
    text-align: center;
}

/* Footer */

footer {
    background-image: url(/images/ftimg.jpg);
    display: flex;
    justify-content: space-around;

    .child {
        border-bottom: 1px double bisque;

        h3 {
            font-weight: 900;
            font-size: 1.3rem;
            padding: 2vw;
        }

        ol li {
            padding-top: 0.5vw;
            padding-left: 1vw;
            border-left: 0.3vw solid rgb(51, 19, 19);
            a{
                color: white;
            }

            a:hover {
                position: static;
                color: white;
                left: 1vw;
                padding-left: 1vw;
                border-left: 0.4vw solid red;
            }
        }
    }
    .data,.about{
        ol{
            display: flex;
            flex-direction: column;
        }
    }
    h3{
        color: white;
    }
    :hover {
        h3 {
            color: yellowgreen;
        }
    }
    
}


/*  */
